/* * {
  border: 1px solid red;
} */

.background-grad {
  background: rgb(34,48,195);
  background: linear-gradient(0deg, rgba(34,48,195,1) 9%, rgba(216,45,253,1) 98%);
}


/*
#D82DFD
#2230C3
 */

.my-logo {
  font-family: 'Permanent Marker', cursive;
}

/*
 TEXT gradient - https://fossheim.io/writing/posts/css-text-gradient/
*/
.gradient-text {
  background-color: #2230C3;
  background-image: linear-gradient(0deg, rgba(34,48,195,1) 9%, rgba(216,45,253,1) 98%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.grow {
  transition: all .25s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.submit-button {
  border: none;
}

.footer-icon {
  text-decoration: none;
  color: white;
}

.footer-icon:hover {
  color: white;
}