@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* * {
  border: 1px solid red;
} */

html {
  margin: 0;
  padding: 0;
}

.background-grad {
  background: rgb(34,48,195);
  background: linear-gradient(0deg, rgba(34,48,195,1) 9%, rgba(216,45,253,1) 98%);
}

.my-logo {
  font-family: 'Permanent Marker', cursive;
}

/*
 TEXT gradient - https://fossheim.io/writing/posts/css-text-gradient/
*/
.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(0deg, rgba(34,48,195,1) 9%, rgba(216,45,253,1) 98%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.nav-item:hover {
  background: linear-gradient(0deg, rgba(34,48,195,1) 9%, rgba(216,45,253,1) 98%);
  color: white;
}


.grow {
  transition: all .25s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.me-image {
  max-width: 300px;
}

.submit-button {
  border: none;
}
